---
import Layout from '../layouts/Layout.astro';
import { PostsContainer } from '../components';
// import your getPosts action from the correct location, for example:
// import { actions } from 'astro:actions'

// // Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// // Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
// const data = await actions.getPosts();
// console.log('Fetched posts:', data);

---

<Layout>
	<div class="post-container">
		<!-- {data && data.map((post: any) => (
			<article>
				<h2>{post.title}</h2>
				<div set:html={post.content}></div>
				<p>Status: {post._status}</p>
				<p>Published at: {new Date(post._firstPublishedAt).toLocaleDateString()}</p>
			</article>
		))} -->
		<PostsContainer client:load />
	</div>
</Layout>

<style>
	.post-container {
		padding: 16px;
	}
	article {
		margin-bottom: 24px;
		padding: 16px;
		border: 1px solid #ccc;
		border-radius: 8px;
		background-color: #f9f9f9;
	}
</style>